<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
  <title>Profit Prediction</title>
</head>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Pofit Prediction</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
          <a class="nav-link" href="about">About</a>
          <a class="nav-link" href="contact_us">Contact us</a>
        </div>
      </div>
    </div>
</nav>

<body>
  <div class="container">
  <form action="/data" method="post">
   <div class="jumbotron">
     <h1>Enter your expenditures in different sectors</h1></br></br>
   </div>
   <div class="col-sm-4">
     <h3>R&D</h3>
     <p>Enter the amount spend in R&D...</p>
   </div>
   <div>
     <input required name="RnD" type="number" class="form-control" placeholder="$"></br>
   </div>
   <div class="col-sm-4">
     <h3>Administration</h3>
     <p>Enter the amount of expenditure on Administration...</p>
   </div>
   <div>
    <input required name="Administration" type="number" class="form-control" placeholder="$"></br>
   </div>
   <div class="col-sm-4">
     <h3>Marketing</h3>
     <p>Enter the amount spend in Marketing...</p>
   </div>
   <div>
     <input required name="Marketing" type="number" class="form-control" placeholder="$"></br>
   </div>
   <div required class="col-sm-4">
     <h3>State</h3>
     <p>Select the state where you want to setup your company...</p>
   </div>
   <div>
     <select name="State" class="form-select" aria-label="Default select example">
       <option value="1">New York</option>
       <option value="2">California</option>
       <option value="3">Florida</option>
     </select>
   </div></br>
   <div class="mb-3">
     <button type="submit" class="btn btn-success">Predict</button>
   </div>
  </form>
  </div>
</body>

</html>